@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    font-family: 'Rubik', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f4f4f4;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #f4f4f4;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 12px;
    border-radius: 12px;
    background: #007bff;
    border: 2px solid #f4f4f4;
}

#titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    color: #f4f4f4;
    padding: 10px;
}

#infos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    background-color: #393939;
}

#infos a {
    display: flex;
    padding: 16px 50px;
    text-decoration: none;
    font-weight: bold;
    color: #f4f4f4;
}

#infos a:hover {
    color: #ffc107;
}

#li:hover a {
    color: #ffc107;
}

#info-squirtle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 2rem 2.5rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

#imgsquirtle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#sqt1 {
    height: 200px;
    width: 200px;
}

#sqt2 {
    height: 200px;
    width: 200px;
    padding: 46px;
}

#info-squirtle p {
    padding: 15px 0px 15px;
}

#caracteristicas {
    background-color: #fff;
    margin: 2rem 2.5rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

#caracteristicas p {
    padding: 15px 0px 15px;
}

#curiosidades {
    background-color: #fff;
    margin: 2rem 2.5rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

#curiosidades ul {
    display: flex;
    flex-direction: column;
    padding: 15px 0px;
    gap: 12px;
}

#curiosidades li {
    list-style-type: none;
}

#curiosidades li::before {
    content: "🔍";
    margin-right: 10px;
}

#artigo {
    background-color: #fff;
    margin: 2rem 2.5rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

#artigo p {
    padding: 15px 0px 15px;
}

#recursos {
    background-color: #fff;
    margin: 2rem 2.5rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

#recursos ul {
    padding: 15px 0px 15px;
    list-style: none;
}

#recursos a {
    color: #007bff;
}

#evolução {
    background-color: #fff;
    margin: 2rem 2.5rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

#evolução ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 25px 0px 25px;
}

#evolução li {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    font-weight: bold;
    padding: 0px 25px 0px;
}

#evolução img {
    max-width: 100%;
}

#rodape {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background-color: #007bff;
    color: #fff;
    padding: 20px 8%;
    gap: 12px;
}

#rodape a {
    text-decoration: none;
    color: #fff;
}

#rodape a:hover {
    text-decoration: underline;
    opacity: 0.8;
}

#rodape a[href*="mailto"] {
    color: orangered;
}

#rodape a[href*="tel"] {
    color: #4dff00;
}

/*
@media screen and (max-width: 1050px) {
    #infos {
        flex-direction: row;
        align-items: flex-start;
        padding: 10px 2%;
    }

    #infos a {
        font-size: 12px;
    }

    #infos li {
        font-size: 12px;
    }

    #info-squirtle {
        align-items: center;
        margin: 50px 50px;
    }

    #info-squirtle h2 {
        align-self: flex-start;
    }

    #info-squirtle img {
        width: 50%;
    }

    #caracteristicas {
        margin: 50px 50px;
    }

    #curiosidades {
        margin: 50px 50px;
    }

    #curiosidades li {
        padding-top: 20px;
    }

    #artigo {
        margin: 50px 50px;
    }

    #recursos {
        margin: 50px 50px;
    }

    #evolução {
        margin: 50px 50px;
    }

    #evolução ul {
        flex-direction: row;
    }

    #evolução li {
        padding-top: 20px;
    }

    #rodape p {
        font-size: 15px;
    }
}

@media screen and (max-width: 750px) {
    #infos {
        flex-direction: column;
        align-items: flex-start;
    }

    #infos li {
        padding: 10px;
    }

    #info-squirtle {
        margin: 50px 50px;
    }

    #info-squirtle img {
        width: 100%;
    }

    #caracteristicas {
        margin: 50px 50px;
    }

    #curiosidades {
        margin: 50px 50px;
    }

    #curiosidades li {
        padding-top: 20px;
    }

    #artigo {
        margin: 50px 50px;
    }

    #recursos {
        margin: 50px 50px;
    }

    #evolução {
        margin: 50px 50px;
    }

    #evolução ul {
        flex-direction: column;
    }

    #evolução li {
        padding-top: 20px;
    }

    #rodape p {
        font-size: 15px;
    }
}